
<p>
    <%= link_to "Login", login_path %>
    <%= link_to "Signup", register_path %>

</p>
<head>
<h2>
  <strong>Welcome to GLADD!</strong>
</h2>

<img src="/images/gladdlogo.jpg" alt="logo" >





