<%= render 'layouts/styling' %>

<h2> Create a Comment. </h2>

<%= render partial: "layouts/errors", locals: {object: @comment} %>


<%= form_for @comment do |f| %>
     <%= render partial: 'comments/form', locals: {f: f} %>
<% end %>