<h1>Comment:  </h1>
<ul>
<li><h3><%= @comment.message %></li></h3>
 
 <li> Created by: <%= current_user.full_name %></li>
 <br>
 <li>For this task: <%= link_to @comment.task.task_name, task_path(@comment.task_id) if @comment.task %><li> 
 <br>
<% if @comment.user == current_user %>
    <%= button_to "Edit Comment", edit_comment_path(@comment), method: :get %>
<% end %> 
</ul>



