<head>
<style>
body {background-color: khaki;}

h2 {
  color: #619ce0;
  font-family: arial;
  font-size: 300%;

}
</style>
</head>
<body>


<h2>Comment:  </h2>

<h2><%= @comment.message %></h2>
 
 <li> Created by: <%= current_user.full_name %></li>
 <br>
<p>For this task: <%= link_to @comment.task.task_name, task_path(@comment.task_id) if @comment.task %></p>
 <br>
<br>
<% if @comment.user == current_user %>
    <%= button_to "Edit Comment", edit_comment_path(@comment), method: :get %>
<% end %> 




