<%= render 'layouts/nav' %>

<h1>Task List </h1>


<ul>
<% @tasks.each do |task| %>
<br>
 <li><%= link_to task.task_name, task_path(task) %></li>
 <h4>Made by: <%= current_user.full_name %></h4>
<br>
<% end %>
</ul>


