ol.c {list-style-type: decimal;} 

h2 strong {
    display: block;
    font-size: 75%;
    opacity: 0.75;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  
  body {
    background-color: #feeb83;
    color: #a4c2f5;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
  }

  .button {
    background-color: #0d43f5;
    border: none;
    color: white;
    padding: 16px 48px 18px;
    border-radius: 12px;
    border: 2px solid #e6c54d
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #e8b644; 
    color: white;
  }

  

  
  
  div {
    border-radius: 5px;
    background-color:linear-gradient(to top left, #d94169 16%, #d54754 100%);
    padding: 20px;
  }
  
  .container {
    width: 500px;
    clear: both;
  }
  
  .container input {
    width: 100%;
    clear: both;
  }

  .styleform label {float:left;}
.styleform input {margin-left:200px;} /* this gives space for the label on the left */
.styleform .clear {clear:both;} /* prevent elements from stacking weirdly */