/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

 .container {
    width: 500px;
    clear: both;
  }
  
  .container input {
    width: 100%;
    clear: both;
  }

  .topnav {
    overflow: hidden;
    background-color: #feeb83;
  }
  
  .topnav a {
    float: left;
    color: #a4c2f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: myFirstFont
  }
  
  .topnav a:hover {
    background-color: #609ce0;
    color: white;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  @font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
  
  div {
    font-family: myFirstFont;
  }

  h1 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 1.2em; font-style: normal; font-variant: normal; font-weight: 545; font-stretch: ultra-expanded; line-height: 26.4px; }