/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

 .container {
    width: 500px;
    clear: both;
  }
  
  .container input {
    width: 100%;
    clear: both;
  }

  .topnav {
    overflow: hidden;
    background-color: #feeb83;
  }
  
  .topnav a {
    float: left;
    color: #a4c2f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: myFirstFont
  }
  
  .topnav a:hover {
    background-color: #609ce0;
    color: white;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  div {
    font-family: myFirstFont;
  }

  h1 { 
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
       font-size: 1.2em;
        font-style: normal;
         font-variant: normal; 
         font-weight: 545; 
         line-height: 
         26.4px; 
        }

 

h3 {
    color: #609ce0;
   } 

  

   textarea
   {
     width: 30%;
     height: 150px;
     padding: 15px 22px;
     box-sizing: border-box;
     border: 4px solid #609ce0;
     border-radius: 5px;
     background-color: #a4c2f5;
     resize: none;  
     color: white
   }
   
   input[type=button], input[type=reset], input[type=submit] {
    background-color: #a4c2f5;
    border: none;
    color: white;
    padding: 18px 36px;
    text-decoration: none;
    margin: 5px 4px;
    cursor: pointer;  
}



