

<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: khaki;}

h2 {
  color: lightsteelblue;
  font-family: arial;
  font-size: 300%;

}
</style>
</head>
<body>

<div style="text-align: center;">
<h2><strong>Welcome to GLADD!</strong></h2>
<img src="/images/taskylogo.png" alt="logo" >
<img src="/images/tasky2.png" alt="2" > 

</div>
</body>
</html>



