

<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: khaki;}

h2 {
  color: #619ce0;
  font-family: arial;
  font-size: 300%;

}
</style>
</head>
<body>
<div style="text-align: left;">

<% if user_signed_in? %> 
   <h2><%= greet %>, <%= current_user.full_name %>.</h2> 
<% end %>


</div>

<div style="text-align: center;">
<img src="/images/taskylogo.png" width="760" height="700" alt="logo" >
<img src="/images/tasky2.png" width="1200" height="850" alt="2" > 

</div>
</body>
</html>



